<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>

    <p class="forgot-password" (click)="navigateToResetPassword()">¡¿No recuerdas tu contraseña?!</p>

    <ion-text [color]="loginError ? 'danger' : 'success'">{{ message }}</ion-text>
  </form>
</ion-content>
