<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarSolicitud()">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Enviar Solicitud</ion-button>
  </form>

  <form *ngIf="codigoEnviado" (ngSubmit)="cambiarContraseña()">
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="nuevaContraseña" name="nuevaContraseña" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Cambiar Contraseña</ion-button>
  </form>
</ion-content>
