<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Campo de Nombre de usuario -->
  <ion-item>
    <ion-label position="floating">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>

  <!-- Botón para obtener la contraseña -->
  <ion-button expand="full" class="ion-margin-top" (click)="retrievePassword()">
    Recuperar Contraseña
  </ion-button>

  <!-- Mostrar la contraseña recuperada -->
  <ion-item *ngIf="password">
    <ion-label>Tu contraseña es: {{ password }}</ion-label>
  </ion-item>

  <!-- Botón para volver al login -->
  <ion-button expand="full" color="medium" class="ion-margin-top" (click)="goToLogin()">
    Volver al login
  </ion-button>

</ion-content>
